body{
    background-color: white;
}

.burger-box{
   position: absolute;
   top: .5em;
   right: .5em;
   display: none;
}

@media only screen and (max-width: 992px){
	.burger-box {
		display: block;
	}
}

.top-bar{
    min-height: 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 1 !important;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    z-index: 9999;

}

#fixed-nav{
    position: absolute !important;
    right: 25px;
    top: -35px;
}

@media only screen and (max-width: 992px){
	#fixed-nav {
        position: relative !important;
        right: unset;
        top: unset;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
	}
}

#slogan{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3em;
    color: #01a0a3;
    background-color: white;
    padding-bottom: 2em;
    margin-block-end: 0 !important;
    position: fixed;
}

@media only screen and (max-width: 768px){
	#slogan {
        font-size: 2em;
	}
}

#slogan-row{
    z-index: 100;
    /*margin-top: 790px;*/
}


#ats-main{
    width: 50%;
    display: block;
    left: 25%;
    top: 50px;
    position: fixed;
    z-index: -2;
}

@media only screen and (max-width: 1200px){
	#ats-main {
        width: 75%;
        left: 12.5%;
	}
}

@media only screen and (max-width: 992px){
	#ats-main {
        width: 100%;
        left: 0;
	}
}

.nav-item{
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 1em;
    color: black;
    padding-top: .25em;
}

.ATS{
    
    margin-left: 1em;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #01a0a3;
    
}

.ATS p{
    padding-top: .5em;
    margin-bottom: 0 !important;
}

h1{
    font-family: 'Syncopate', sans-serif;
    padding-top: 2.5em;
    
}

#bw-baby{
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: 3;
}

#bw-baby-img{
    width: 100%;
    margin-top: 0px;
    position: relative;
    min-height: 500px;
    min-width: 749px;
}

#family{
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: 3;
}

#bw-baby-img2{
    width: 100%;
    margin-top: 0px;
    position: relative;
    min-height: 700px;
    min-width: 1000px;
}

#cap1{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    z-index: 5;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-top: 0px !important;
}

#cap2{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    z-index: 5;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-top: 0px !important;
}

.info-title{
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

.service-icon{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.service-title{
    width: 100%;
    text-align: center;
}

.service-info{
    font-size: 1.2em;
}

.grey{
    background-color: #c9c9c9;
}

.contact-call{
    text-align: center;
    padding-bottom: 2em;
}

.submit-button{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #01a0a3;
    border-color: #01a0a3;
    margin-top: 2em;
}

.window{
    padding-bottom: 50px;
}

.height-20{
    height: 20%;
}

.about-window{
    background-image: url('images/checker-pattern-faded.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.row-max-width{
    display: flex;
    flex-wrap: wrap;
}

#contact{
    background-image: url('images/footer-stork.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center bottom;
}

.contact-icon{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.ats-footer{
    background-color: #01a0a3;
    color: white;
    
}

.footer-header{
    font-family: 'Syncopate', sans-serif;
    margin-top: 1em;
}

#footer-info{
    
}



.stork-footer{
    /*background-image: url('images/footer-stork.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 30.7%;*/
}