body{
    background-image: url("images/tin.png") !important;
    background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
	left: 0;
    top: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

#top{
    z-index: 999999;
    position: fixed;
    top: 15px;
    right: 0;
}

#back{
    z-index: 999999;
    position: fixed;
    top: 15px;
    left: 0;
}

#top img{
    height: 55px;
    display: none;
}

#back img{
    height: 55px;
}

@media (max-width: 1100px){
    #top img{
        height: 45px;
    }
    #top{
        top: 5px;
    }
    #back img{
        height: 45px;
    }
    #back{
        top: 5px;
        right: 55px;
        left: unset;
    }
}

.back-scrolled{
    top: 15px !important;
    left: 0 !important;
    right: unset !important;
}

nav{
    width: 100%;
    z-index: 99;
    min-height: 75px;
}

.nav-scrolled{
    position: fixed !important;
    top: 0;
    padding: 0 !important;
    background-color: #34393a;
    width: 100%;
    border-bottom: 20px solid transparent;
    -webkit-border-image: url(images/chalkboard-frame-dark.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(images/chalkboard-frame-dark.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(images/chalkboard-frame-dark.png) 30 stretch;
    background-color: #34393a;
}

#fixed-nav{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    text-decoration: none;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.nav-divider{
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    color: white;
    padding-top: 10px;
}

@media (max-width: 1200px){
    .nav-link{
        font-size: 2.5em;
    }
    .nav-divider{
        font-size: 2.5em;
    }
}

@media (max-width: 1100px){
    .nav-divider{
        display: none;
    }
}

/*.nav-link:hover{
    text-decoration: underline;
    transition: 2s;
}*/

@media (min-width: 1099px){
ul { 
    list-style: none; 
    display: table;
}
li { 
    display: table-cell; 
    position: relative; 
}

.nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 15px;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-link:hover:after { 
    width: 100%; 
    left: 0; 
}
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

#rg-banner{
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.rg-banner-scrolled{
    height: 0px !important;
}

.rg-info{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.chalkboard{
    margin-bottom: 50px;
    border: 20px solid transparent;
    
    -webkit-border-image: url(images/chalkboard-frame-dark.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(images/chalkboard-frame-dark.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(images/chalkboard-frame-dark.png) 30 stretch;
    background-color: #34393a;
    width: 90% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu{
    width: 100%;
}

.rg-title{
    font-family: 'Indie Flower', cursive;
    font-size: 7em;
    font-weight: 700;
    color: #008283;
    text-shadow: 5px 5px #4d4d4d;
}

.cup{
    margin: 50px;
    width: 70%;
    z-index: 98;
}

.oz-coffee{
    height: 450px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.social-icon{
    height: 75px;
}

.boyers-logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.boyers-box{
    margin-bottom: 50px;
}

.nav-chalkboard{
    background-color: #34393a;
}

.division{
    height: 5px;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#bad-login{
    display: none;
}

#bad-password{
    display: none;
}

.divider{
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 992px){
    .tip-div{
        display: none !important;
    }
    .tip-horizontal-div{
        display: block !important;
    }
    .graph{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 991px){
    .tip-horizontal-div{
        display: none !important;
    }
}

.vertical-division{
    width: 5px;
    height: 90%;
    background-color: white;
    display: inline-block;
    margin-left: 60px;
}

.boyers-box{
    background-color: white;
}

.logout-box{
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 99999;
    height: 50px;
}

.button-box{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.update-btn{
    width: 45%;
    width: 45%;
    margin-top: 5px;
}

.push{
    height: 50px;
}

#add-photo{
    width: 300px;
    margin: 100px;
    border-style: dashed;
    border-width: 5px;
    border-color: white;

}

#event-photo{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.event-info{
    margin: 15%;
}

#graph1{
    height: 90%;
    width: 100%;
    background-color: white;
}

#graph2{
    height: 90%;
    width: 100%;
    background-color: white;
}

.graph-text{
    color: black;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700 !important;
    font-size: 1.5rem;
    padding-top: 10px;
}

.push-nav{
    height: 0px;
}

.footer{
    line-height: 1.25;
}

.footer p{ 
    margin-bottom: 0px !important;
}

.footer-info-box{
    height: 100px;
}

.icon-box{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.icon-box a{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

#admin-mail{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 1202px){

.footer-header{
    font-size: 1rem;
}

}

@media (max-width: 1004px){
    .footer-info-box{
        height: 110px;
    }
}